services:
  - type: web
    name: ecommerce-app
    env: python
    buildCommand: |
      pip install -r requirements.txt

    startCommand: gunicorn ecommerce.wsgi --bind
    envVars:
      - key: SECRET_KEY
        generateValue: true